fastapi
uvicorn


fastapi==0.110.1
uvicorn==0.29.0
pydantic==2.6.4

sqlalchemy==2.0.29
pymysql==1.1.0

pandas==2.2.1
scikit-learn==1.4.1.post1
xgboost==2.0.3

requests==2.31.0




uvicorn main:app --reload